* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

body{
    width: 500px;
    margin: auto;
}

header p{
    float: right;
    font-size: 13px;
    font-style: italic;
}

h1{
    text-align: center;
    margin: 20px;
    clear: both;
}

form input, footer button{
    float: left;
    width: 86%;
    margin: 10px 1% 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
}

form select{
    float: right;
    width: 12%;
    height: 39px;
    margin: 10px 0 10px 1%;
    border: 1px solid lightgray;
}

footer button{
    width: 100%;
}

@media only screen and (max-width: 500px) {
    body{
        width: 100%;
        padding: 0 1%;
    }
}